ion-content {
  --background: url("../../../assets/bg-top.svg") no-repeat top center/contain;
  width: 100%;
  position: relative;

  .login-container {
    padding: 16px;
    margin-top: 68vw;
  }

  ion-item {
    --color: #9b9ea3;
    --background: #edf0f7;
    border-radius: 32px;
    margin-top: 8px;

    ion-input {
      --background: #edf0f7;
    }

    ion-icon {
      color: #9b9ea3;
      font-size: 20px;
      padding: 12px;
    }
  }

  .login-btn {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 32px;
    height: 48px;
    text-transform: capitalize;
  }

  .facebook-btn {
    --background: #fff;
    --box-shadow: none;
    --color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;

    ion-icon {
      font-size: 20px;
      margin-right: 12px;
      color: #4267b2;
    }
  }

  .register-btn {
    --background: none;
    --background-activated: none;
    --box-shadow: none;
    --color: #595b5d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;

    span {
      text-transform: none;
      color: var(--ion-color-primary);
    }
  }

  .forgotten-password {
    font-size: 14px;
    line-height: 18px;
    color: var(--ion-color-primary);
  }
}
